<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">

	<link rel="shortcut icon" href="build/img/favicon.png" type="image/x-icon">
	<link rel="icon" href="build/img/favicon.png" type="image/x-icon">

	<link rel="stylesheet" href="build/css/autogeo.css">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<script src="build/js/autogeo-deps.js"></script>
	<script src="build/js/autogeo.js"></script>

	<title>AutoGeo - Sistema de Anúncio de Automóveis</title>
</head>
<body ng-app="AutoGeoAPP">
	<div ng-controller="MainCtrl" class="container containerApp">
		<header>
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div id="logo">
					<img src="build/img/autogeo.png" alt="logo" id="imgLogo" width="200" height="35">
				</div>
			</div>
			<div class="hidden-xs col-sm-8 col-md-7 col-lg-7">
				<div id="menu">
					<a href="#" class="ativo"><span class="glyphicon glyphicon-globe"></span>Mapa</a>
					<a href="#"><span class="glyphicon glyphicon-star"></span>Favoritos</a>
					<a href="#"><span class="glyphicon glyphicon-thumbs-up"></span>Likes</a>
					<a href="#"><span class="glyphicon glyphicon-bullhorn"></span>Anuncie</a>
					<a href="#"><span class="glyphicon glyphicon-file"></span>Cadastro</a>
				</div>
			</div>
			<div class="hidden-xs col-sm-1 col-md-2 col-lg-2">
				<!-- <span class="userConfig glyphicon glyphicon-cog"></span> -->
				<!-- <span class="userImg hidden-sm"> -->
					<!-- <img src="build/img/user.png" alt="user" width="50" height="50"> -->
				<!-- </span> -->
				<!-- <span class="userLogged hidden-sm">Manolo</span> -->
			</div>
			<toggle-menu-icon></toggle-menu-icon>
			<div class="col-xs-12" id="menuOptionsMobile" ng-show="enableMenu">
				<ul>
					<a href="#">Mapa</a>
					<li><a href="#">Favoritos</a></li>
					<li><a href="#">Likes</a></li>
					<li><a href="#">Anuncie</a></li>
					<li><a href="#">Cadastro</a></li>
				</ul>
			</div>
			<div class="row" id="containerBusca">
				<div class="hidden-xs col-sm-7 col-md-7 col-lg-7" id="filtroTopo">
					<!-- <span class="glyphicon glyphicon-filter"></span> -->
					<span>Ative um ou mais filtros</span>
					<span class="glyphicon glyphicon-menu-down" id="setaFiltro"></span>
				</div>
				<div class="col-sm-5 col-md-5 col-lg-5">
					<span id="iconeBusca" class="glyphicon glyphicon-search" aria-hidden="true"></span>
					<input type="text" class="form-control" id="buscaTopo" placeHolder="Onix, Fiesta, etc..." ng-model="search">
					<span id="tituloBusca">Busca rápida</span>
				</div>
			</div>
		</header>
		<div id="containerMap">
			<div id="containerFiltros">
				<div id="botoesFiltro" ng-init="currentTab = 1">
					<span id="filtroPreco" ng-click="currentTab = 1" class="iconeFiltroAba" ng-class="{'ativo': currentTab == 1}"></span>
					<span id="filtroKm" ng-click="currentTab = 2" class="iconeFiltroAba" ng-class="{'ativo': currentTab == 2}"></span>
					<span id="filtroMarca" ng-click="currentTab = 3" class="iconeFiltroAba" ng-class="{'ativo': currentTab == 3}"></span>
					<span id="filtroModelo" ng-click="currentTab = 4" class="iconeFiltroAba" ng-class="{'ativo': currentTab == 4}"></span>
					<span id="filtroEstado" ng-click="currentTab = 5" class="iconeFiltroAba" ng-class="{'ativo': currentTab == 5}"></span>
					<span id="filtroFoto" ng-click="currentTab = 6" class="iconeFiltroAba" ng-class="{'ativo': currentTab == 6}"></span>
					<span id="filtroPorta" ng-click="currentTab = 7" class="iconeFiltroAba" ng-class="{'ativo': currentTab == 7}"></span>
				</div>
				<div id="conteudoFiltro" >
					<div class="filtroConteudo" ng-show="currentTab == 1">
						<h1 class="tituloFiltro">PREÇO (R$)</h1>
						<div class="inputContainer">
							<input type="text" class="inputFiltro" placeHolder="valor mín." style="margin-right:10px"/>
							<input type="text" class="inputFiltro" placeHolder="valor máx."/>
							<button class="btnLimparFiltro">Limpar</button>
							<button class="btnFiltro" >Filtrar</button>
						</div>
					</div>			
					<div  class="filtroConteudo" ng-show="currentTab == 2"></div>			
					<div  class="filtroConteudo" ng-show="currentTab == 3"></div>			
					<div  class="filtroConteudo" ng-show="currentTab == 4"></div>			
					<div  class="filtroConteudo" ng-show="currentTab == 5"></div>			
					<div  class="filtroConteudo" ng-show="currentTab == 6"></div>			
					<div  class="filtroConteudo" ng-show="currentTab == 7"></div>			
				</div>
			</div>
			<leaflet center="poa" defaults="defaults" markers="anunciosMarkers"></leaflet>
		</div>
	</div>
</body>
</html>