<span class="tituloModelo">{{anuncio.properties.modelo}}</span>
<span class="tituloValor">{{anuncio.properties.valor | currency: 'R$'}}</span>

<img ng-show="anuncio.properties.fotos" src="build/img/car.jpg" alt="carro" width="300" height="150"/>

<ul class="ulDetalhes" ng-init="aba = 1">
	<li ng-class="{'ativo': aba == 1}" ng-click="aba = 1">
		<span class="glyphicon glyphicon-list-alt"></span>
		Descrição
	</li>
	<li ng-class="{'ativo': aba == 2}" ng-click="aba = 2">
		<span class="glyphicon glyphicon-th-list"></span>
		Acessórios
	</li>
	<li ng-class="{'ativo': aba == 3}" ng-click="aba = 3">
		<span class="glyphicon glyphicon-envelope"></span>
		Contato
	</li>
</ul>

<div ng-show="aba == 1" class="conteudoAba">
	<p class="descricaoDetalhes">
		<strong>MARCA: </strong>{{anuncio.properties.marca}}
	</p>
	<p class="descricaoDetalhes">
		<strong>MODELO: </strong>{{anuncio.properties.modelo}}
	</p>
	<p class="descricaoDetalhes">
		<strong>ANO: </strong>{{anuncio.properties.ano}}
	</p>
	<p class="descricaoDetalhes">
		<strong>KM: </strong>{{anuncio.properties.km | number:0}}
	</p>
	<p class="descricaoDetalhes">
	  <strong>PORTAS: </strong>{{anuncio.properties.portas}}
	</p>
	<p class="descricaoDetalhes">
	  <strong>COR: </strong>{{anuncio.properties.cor}} 
	</p>
	<p class="descricaoDetalhes">
		<strong>ESTADO: </strong>{{anuncio.properties.estado == 1 ? "Zero Km" : "Semi Novo"}}
	</p>
	<p class="descricaoDetalhes">
		<strong>VALOR: </strong>{{anuncio.properties.valor | currency: 'R$'}}
	</p>
</div>

<div ng-show="aba == 2" class="conteudoAba">
	<span class="badge" style="background:#0065AE; margin: 5px;padding:4px 10px 5px 10px;" ng-repeat="a in anuncio.properties.acessorios">{{a.nome}}</span>
</div>

<div ng-show="aba == 3" class="conteudoAba">
	<p class="descricaoDetalhes">
		<strong>NOME: </strong>{{anuncio.properties.contato.nomeCompleto}}
	</p>
	<p class="descricaoDetalhes">
		<strong>EMAIL: </strong>{{anuncio.properties.contato.email}}
	</p>
	<p class="descricaoDetalhes">
		<strong>TELEFONE: </strong>{{anuncio.properties.contato.telefone}}
	</p>
</div>