@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif, Arial;
	-webkit-font-smoothing: antialiased;
}
body{
	/*font-family: 'Ubuntu Condensed', sans-serif, arial;*/
	font-family: 'Open Sans', sans-serif, Arial;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #FEFEFE;
	padding-top: 140px;
}
.row{
	margin: 0;
	padding: 0;
}
html, body, #containerMap, .containerApp{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.angular-leaflet-map,#containerMap{
	width: auto;
	height: 100%;
	margin: 0 -15px 0 -15px;
}
.angular-leaflet-map{
	margin: 0;
}
header{
	width: 100%;
	height: 140px;
	position: fixed;
	z-index: 1500;
	top: 0;
	margin: 0 -15px 0 -15px;
	border-bottom: 1px solid #e5e5e5;
}

#containerBusca{
	background-color: #007DC6;
	float: left;
	width: 100%;
	border-bottom: 2px solid #007DC6;
}
#buscaTopo{
	margin: 12px auto;	
	width: 50%;
	float: right;
	color: #333333;
	border: 1px solid #fff;
	border-radius: 3px;
	box-shadow: none;
}
#filtroTopo{
	float: left;
	height: 59px;
	font-weight: bold;
	line-height: 59px;
	color: #FFF;
}
#setaFiltro{
	float: right;
	line-height: 59px;
	cursor: pointer;
	color: #FFF;
	margin-right: -15px;
	width: 40px;
	text-align: center;
}
#setaFiltro:hover{
	background-color: #00529C;
	height: 58px;
	color: #FFF;
}
#logo{
	width: 200px;
	height: 35px;
	margin-top: 25px;
}
#logo:hover{
	cursor: pointer;
}
#menu{
	float: left;
}
#menu a{
	float: left;
	display: block;
	height: 79px;
	line-height: 79px;
	font-size: 14px;
	font-weight: normal;
	margin-left: 25px;
	color: #007CC6;
	font-weight: bold;
	padding-top: 3px;
	text-decoration: none;
}
#menu a span{
	float: left;
	margin-right: 10px;
	line-height: 75px;
	height: 75px;
}
#menu a.ativo{
	text-decoration: none;
	border-top: 3px solid #007CC6;
	color: #007CC6;
	padding-top: 0;
}

#menu a:hover{
	text-decoration: none;
	border-top: 3px solid #007CC6;
	color: #007CC6;
	padding-top: 0;
}
#menuMobile{
	padding: 7px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	float: left;
	position: absolute;
	right: 15px;
	top: 12px;
	color: #777777;
}
#menuMobile:hover{
	border: 1px solid #008ec6;
	cursor: pointer;
	color: #027BC3;
	text-decoration: none;
	text-shadow: none;
}
#menuMobile:hover > .glyphicon{
	color: #027BC3;
}

#menuOptionsMobile{
	border-top: 1px solid #e5e5e5;
	min-height: 50px;
	position: absolute;
	z-index: 2000;
	top: 79px;
	background-color: transparent;
}
#menuOptionsMobile ul{
	width: 100%;
	float: left;
	list-style: none;
}
#menuOptionsMobile ul li{
	width: 100%;
	height: auto;
	float: left;
	padding-left: 10px;
	line-height: 40px;
	border: 1px solid #e5e5e5;
	border-top: none;
	background-color: #FEFEFE;
}
#menuOptionsMobile ul li a{
	text-decoration: none;
	width: 100%;
	height: 40px;
	line-height: 40px;
	float: left;
	color: #777777;
}
#menuOptionsMobile ul li:hover{
	background: #f1f1f1;
}
.txtBtnMenu{
	margin-left: 5px;
}

@media (max-width: 767px) {
  #logo {
    margin: 10px auto auto auto;
    float: none;
  }
}
.userImg{
	float: right;
	width: 52px;
	height: 52px;
	margin: 10px 8px 0 8px;
}
.userImg img{
	border: 1px solid #C7C7C7;
	border-radius: 50%;
}

.userLogged{
	float: right;
	width: auto;
	height: 79px;
	line-height: 79px;
	text-align: center;
	color: #00529C;
	font-size: 13px;
}
.userConfig{
	float: right;
	line-height: 79px;
	text-align: center;
	color: #00529C;
	display: block;
	cursor: pointer;
}

/*
	LEAFLET
*/
.leaflet-popup-content{
	/*width: 650px;*/
	height: auto;
	float: left;
}
.leaflet-popup-content-wrapper{
	border-top: 3px solid #0B59A0;
  	border-radius: 3px;
  	float: left;
}
.tituloValor{
	float: left;
	padding:10px;
	font-size: 25px;
	font-weight: 400;
	line-height: 25px;
	color: #3E6B9A;
	width: auto;
	border-right: 1px solid #B1BAC2;
}
.tituloModelo{
	float: left;
	padding:10px;
	font-size: 25px;
	font-weight: 400;
	line-height: 25px;
	color: #3E6B9A;
	width: auto;
}
.tituloMarca{
	float: left;
	padding:2px;
	font-size: 12px;
	font-weight: 400;
	line-height: 32px;
	color: #848484;
	width: auto;
}
.tituloDescricao{
	width: 100%;
	border-bottom: 1px solid #B1BAC2;
	float: left;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	color: #3E6B9A;
	float: left;
	padding: 10px 0 10px 0;
	margin-bottom: 5px;
}
.ulDetalhes{
	float: left;
	width: 100%;
	list-style: none;
	margin: 10px 0 5px 0;
}
.ulDetalhes li{
	display: inline;
	line-height: 35px;
	height: 35px;
	float: left;
	font-size: 12px;
	color: #3E6B9A;
	padding-right: 5px;
	padding-left: 10px;
	padding-top: 3px;
}
.ulDetalhes li.ativo{
	border-top: 3px solid #007DC6;
	padding-top: 0;
}
.leaflet-popup-content p.descricaoDetalhes{
	float: left;
	padding: 2px;
	margin: 0px;
	width: 100%;
	float: left;
}
#containerFiltros{
	background-color: #00528E;
	width: 326px;
	height: 100%;
	float: left;
}

#containerFiltros ul{
	float: left;
	width: 100%;
	list-style: none;
	margin: 0px;
}
#containerFiltros ul li{
	cursor: pointer;
	display: block;
	line-height: 60px;
	height: 60px;
	float: left;
	font-size: 12px;
	text-transform: uppercase;
	color:#FFF;
	width: 100%;
	padding-left: 15px;
	border-bottom: 1px solid #004679;
	box-shadow: 1px 1px 1px #0B5D98;
}
#containerFiltros ul li .seta{
	float: right;
	margin-right: 15px;
	line-height: 60px;
	text-align: center;
}