*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Ubuntu Condensed', sans-serif, arial;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #FEFEFE;
	padding-top: 140px;
}
.row{
	margin: 0;
	padding: 0;
}
html, body, #containerMap, .containerApp{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.angular-leaflet-map,#containerMap{
	width: auto;
	height: 100%;
	margin: 0 -15px 0 -15px;
}
.angular-leaflet-map{
	margin: 0;
}
header{
	width: 100%;
	height: 140px;
	position: fixed;
	z-index: 1500;
	top: 0;
	margin: 0 -15px 0 -15px;
	border-bottom: 1px solid #e5e5e5;
}

#containerBusca{
	background-color: #007DC6;
	float: left;
	width: 100%;
}
#buscaTopo{
	margin: 12px auto;	
	width: 50%;
	float: right;
	color: #00529C;
}
#filtroTopo{
	float: left;
	height: 59px;
	font-weight: bold;
	line-height: 59px;
	color: #FFF;
}
#setaFiltro{
	float: right;
	line-height: 59px;
	cursor: pointer;
	color: #FFF;
	margin-right: -15px;
	width: 40px;
	text-align: center;
}
#setaFiltro:hover{
	background-color: #00529C;
	height: 58px;
	color: #FFF;
}
#logo{
	width: 200px;
	height: 35px;
	margin-top: 25px;
}
#logo:hover{
	cursor: pointer;
}
#menu{
	float: left;
}
#menu a{
	float: left;
	display: block;
	height: 79px;
	line-height: 79px;
	font-size: 14px;
	font-weight: normal;
	margin-left: 25px;
	color: #007CC6;
	font-weight: bold;
	padding-top: 3px;
	text-decoration: none;
}
#menu a span{
	float: left;
	margin-right: 10px;
	line-height: 75px;
	height: 75px;
}
#menu a.ativo{
	text-decoration: none;
	border-top: 3px solid #007CC6;
	color: #007CC6;
	padding-top: 0;
}

#menu a:hover{
	text-decoration: none;
	border-top: 3px solid #007CC6;
	color: #007CC6;
	padding-top: 0;
}
#menuMobile{
	padding: 7px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	float: left;
	position: absolute;
	right: 15px;
	top: 12px;
	color: #777777;
}
#menuMobile:hover{
	border: 1px solid #008ec6;
	cursor: pointer;
	color: #027BC3;
	text-decoration: none;
	text-shadow: none;
}
#menuMobile:hover > .glyphicon{
	color: #027BC3;
}

#menuOptionsMobile{
	border-top: 1px solid #e5e5e5;
	min-height: 50px;
	position: absolute;
	z-index: 2000;
	top: 79px;
	background-color: transparent;
}
#menuOptionsMobile ul{
	width: 100%;
	float: left;
	list-style: none;
}
#menuOptionsMobile ul li{
	width: 100%;
	height: auto;
	float: left;
	padding-left: 10px;
	line-height: 40px;
	border: 1px solid #e5e5e5;
	border-top: none;
	background-color: #FEFEFE;
}
#menuOptionsMobile ul li a{
	text-decoration: none;
	width: 100%;
	height: 40px;
	line-height: 40px;
	float: left;
	color: #777777;
}
#menuOptionsMobile ul li:hover{
	background: #f1f1f1;
}
.txtBtnMenu{
	margin-left: 5px;
}

@media (max-width: 767px) {
  #logo {
    margin: 10px auto auto auto;
    float: none;
  }
}
.userImg{
	border: 1px solid #C7C7C7;
	border-radius: 50%;
	float: right;
	width: 52px;
	height: 52px;
	margin: 10px 8px 0 8px;
}

.userLogged{
	float: right;
	width: auto;
	height: 79px;
	line-height: 79px;
	text-align: center;
	color: #00529C;
	font-size: 13px;
	display: block;
	font-style: italic;
	font-weight: bold;
}
.userConfig{
	float: right;
	line-height: 79px;
	text-align: center;
	color: #00529C;
	display: block;
}